<%- include('../partials/header') %>
   <h1>
      <%= title %>
   </h1>
   <p>
      You are now viewing <%= title %>
   </p>
   <table>
      <tr>
         <th>Airline</th>
         <th>Airport</th>
         <th>Flight #</th>
         <th>Departs</th>
      </tr>
   <tbody>
   <% flights.forEach(function(f) { %>
      <tr>
         <td><%=f.airline %></td>
         <td><%=f.airport %></td>
         <td><%=f.flightNo %></td>
         <td><%=f.departs %></td>
         <td><a href="/flights/<%= f.id %>">Details</a></td>
         <td><%= f.id %></td>
      </tr>
      <% }); %>
   </tbody>
</table>
      <%- include('../partials/footer') %>