<%- include('../partials/header') %>
<section id="show-page">
    <table>
        <tr>
           <th>Airline</th>
           <th>Airport</th>
           <th>Flight #</th>
           <th>Departs</th>
        </tr>
    
        <p><%=flight.airline %></p>
         <p><%=flight.airport %></p>
         <p><%=flight.flightNo %></p>
         <p><%=flight.departs %></p>











<%- include('../partials/footer') %>

