<%- include('../partials/header') %>
<section id="show-page">
           <h2>Airline</h2>
           <p><%=flight.airline %></p>
           <h2>Airport</h2>
           <p><%=flight.airport %></p>
           <h2>Flight #</h2>
           <p><%=flight.flightNo %></p>
           <h2>Departs</h2>
           <p><%=flight.departs %></p>

</section>
<br><br><h2>Destination</h2>
<form id="add-destination" method="POST"
ACTION="/flights/<%=flight._id %>/destinations">
<select name="airport" >
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
</select>    
</form>
<br><br><label>Arrival:
    <input type="datetime-local" value="departsDate" name="departs">
</label><br>



<%- include('../partials/footer') %>

